.tabBarBox {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #fff;

  :global {
    .am-tab-bar{
      .am-tabs{
        .am-tabs-tab-bar-wrap{
          .am-tab-bar-bar{
            height: 100px;
            width: 100%;
            z-index: 100;
            
            .am-tab-bar-tab-title{
              font-size: 24px;
            }
          }

          .am-tabs-default-bar{
            .am-tabs-default-bar-content{
              .am-tabs-default-bar-tab {
                font-size: 27px;
                height: 80px;
              }
            }
          }
        }

        .am-tabs-content-wrap{
          .am-tabs-pane-wrap{
            width: 100%;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            overflow-y: hidden;
          }
        }
      }
    }

    .am-navbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 12vw;
      width: 100%;
      background-color: #2c2c32;
      color: #fff;
  
      .am-navbar-title{
        font-size: 36px!important;
      }
    }

    .topMenu {
      width: 100%;
      background-color: #2c2c32;
      height: 105px;

      .am-grid{
        height: 105px;
    
        .am-flexbox{
          height: 105px;
  
          .am-flexbox-item{
            background-color: #2c2c32;
            height: 100%;

            .am-grid-item-content{
              padding: 0;

              .am-grid-item-inner-content{
                img{
                    display: none;
                }

                div{
                    color: #fff;
                    font-size: 27px;
                    margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}