.wrap {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    display: flex;

}
.tabBarBox{
  position: fixed;
   height: calc(~"100% - 150px"); 
   width: 100%; 
   top: 150px;
}
:global{
  .am-tabs-default-bar-tab {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    height: 80px;
    line-height: 43.5px;
  }
  .am-tabs-pane-wrap {
    width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow-y: hidden;
}
}
