.wrap {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    background-color: #f1f1f1;

    :global{
        .am-navbar {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 12vw;
            width: 100%;
            background-color: #2c2c32;
            color: #fff;
        }
        .am-icon {
            fill: currentColor;
            background-size: cover;
            width: 10vw;
            height: 10vw;
        }
        .bet-info{
            width: 100%;
        }

        .userPart{

            .am-accordion-header{
                height: 60px!important;
            }

            .userImg{
                width: 100%;
                display: flex;
                align-items: center;
            
                img{
                    margin: 0 10px 0 30px;
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                }
            
                span{
                    font-weight: bold;
                    color: #2c2c32;
                    font-size: 24px;
                    margin-left: 20px;
                }

                div:nth-child(4){
                    margin-left: 20px;
                    width: 0; 
                    height: 0; 
                    border-top: 8px solid transparent; 
                    border-right: 8px solid #2c2c32; 
                    border-bottom: 8px solid transparent; 
                }
            
                div:nth-child(5){
                    height: 30px;
                    line-height: 30px;
                    padding: 0 5px;
                    background: #2c2c32;
                    color: #fff;
                    font-size: 18px;
                }
            }
            
            .userImgList{
                display: flex;

                img{
                    height: 60px;
                    margin-right: 10px;
                }

                img:first-child{
                    margin-left: 80px;
                }
            }
        }
    }
    .detailCard {
        background-color: #2c2c32;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 20px 0;

        .teamL,.teamR{
            width: 210px;

            img{
                width: 80px;
                height: 80px;
            }

            p{
                font-size: 24px;
                color: #fff;
                font-weight: bold;
            }
        }

        .des{
            flex: 1;

            p:first-child,p:last-child{
                color: #989898;
                font-size: 20px;
            }

            p:nth-child(2){
                margin: 5px auto;
                width: 120px;
                height: 42px;
                line-height: 42px;
                border-radius: 21px;
                background: #989898;
                color: #fff;
                font-size: 18px;
            }
        }
    }

    .rateDes{
        background: #fff;
        margin-top: 15px;
        padding-bottom: 30px;

        .sub-tips{
            display: flex;
            padding: 20px 0;
            border-bottom: 1px solid #f1f1f1;

            span{
                margin-left: 20px;
                display: inline-block;
                width: 5px;
                background: #2c2c32;
            }

            label{
                margin-left: 10px;
                font-size: 24px;
                color: #2c2c32;
            }
            
        }

        .rateLine1{
            width: 100%;
            height: 30px;

            div{
                margin: 0 auto;
                width: 1px;
                height: 100%;
                background: #f1f1f1;
            }
        }

        .rateBox{
            display: flex;
            align-items: center;
            color: #2c2c32;

            span{
                font-weight: bold;
                font-size: 28px;
                flex: 3;
            }

            span:first-child{
                margin-left: 30px;
                text-align: left;
            }
            span:last-child{
                margin-right: 30px;
                text-align: right;
            }

            b{
                font-size: 40px;
                flex: 2;
                text-align: center;
            }

            label{
                font-size: 20px;
                flex: 1;
                text-align: center;
            }

        }

        .rateLine2{
            width: 100%;
            height: 50px;

            div{
                margin: 0 auto;
                width: 1px;
                height: 100%;
                background: #f1f1f1;
            }
        }

        .show-info{
            width: 100%;
            display: flex;
            padding: 0 30px;
            box-sizing: border-box;
            margin-top: 5px;

            span{
                font-size: 30px;
                font-weight: bold;
                color: rgb(70,88,110);
            }

            label {
                flex: 1;
                text-align: center;
                color: #2c2c32;
                font-size: 20px;
            }
        }

        .progress{
            width: 100%;
            display: flex;
            padding: 0 30px;
            box-sizing: border-box;
            margin-top: 5px;

            span{
                height: 15px;
                background: rgb(70,88,110);
            }

            label:nth-child(2){
                width: 0; 
                height: 0; 
                border-top: 15px solid rgb(70,88,110);
                border-right: 15px solid transparent; 
            }

            label:nth-child(4){
                width: 0; 
                height: 0; 
                border-bottom: 15px solid rgb(70,88,110);
                border-left: 15px solid transparent; 
            }
        }

        .forecast{
            margin: 30px auto 0;
            width: 250px;
            height: 80px;
            line-height: 80px;
            color: #fff;
            background: #f1f1f1;
            border-radius: 40px;
            font-size: 30px;
            text-align: center;
        }

        .forecastCanClick{
            margin: 30px auto 0;
            width: 250px;
            height: 80px;
            line-height: 80px;
            color: #fff;
            background: #2c2c32;
            border-radius: 40px;
            font-size: 30px;
            text-align: center;
        }
    }

    .rankList{
        background: #fff;
        margin-top: 15px;
        padding-bottom: 100px;
    }
}


